<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% if page.fileSlug == 'season' %}
    <title>The Pitwall - {{ year }} Season</title>
  {% else %}
    <title>The Pitwall</title>
  {% endif %}

  <meta name="description" content="Explore the historical records of the Formula 1 World Championship">

  <link rel="stylesheet" href="/css/pitwall.css">

  {% block head %}
  {% endblock %}

</head>
<body>

<div id="page">
  {% include 'partials/PageHeader.njk' %}

  <main class="data-area">
    {% include 'partials/Nav.njk' %}

    <section class="race-grid content-container content-tab" aria-hidden="false" role="tabpanel" aria-labelledby="race-results-button">
      {% for race in pitwall.races[year] %}

        {% include 'partials/RaceTable.njk' %}
      
      {% endfor %}
    </section>

    <section class="standings-data content-container content-tab" aria-hidden="true" role="tabpanel" aria-labelledby="standings-button">

      {% include 'partials/DriversStandings.njk' %}

      {% include 'partials/ConstructorsStandings.njk' %}

    </section>
  </main>

  <footer class="site-footer">
    <div class="content-container">
      <p>The Pitwall was developed by <a href="https://www.smithscott.net">Scott Smith</a> with data from the <a href="https://ergast.com/mrd/">Ergast API</a>.</p>
      <p>This site is not affiliated with the FIA or Liberty Media. I'm just a fan!</p>
    </div>
  </footer>

</div>

<script src="/js/main.js" defer></script>

</body>
</html>