<!DOCTYPE html>
<html lang="en" data-updated="{{ page.date }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% if page.fileSlug == 'season' %}
    <title>The Pitwall - {{ year }} Season</title>
  {% else %}
    <title>The Pitwall</title>
  {% endif %}

  <link rel="icon" type="image/png" href="/images/favicon.png">
  <meta name="description" content="Explore the historical records of the Formula 1 World Championship">

  <link rel="stylesheet" href="/css/pitwall.css">

  {% block head %}
  {% endblock %}

</head>
<body>

<div id="page">
  {% include 'partials/PageHeader.njk' %}

  <main class="data-area">

    {% if pitwall.races[year] | length > 0 %}

      {% include 'partials/Nav.njk' %}

      <h1 class="season-title">{{ year }} Formula 1 World Championship</h1>

      <section class="race-grid content-container content-tab" aria-hidden="false" role="tabpanel" aria-labelledby="race-results-button">
        
        <div class="race-nav">
          {% include 'partials/RaceNav.njk' %}
        </div>

        <div class="race-data">

          {% for race in pitwall.races[year] %}

            {% include 'partials/RaceTable.njk' %}
          
          {% endfor %}

        </div>

      </section>

      <section class="standings-data content-container content-tab" aria-hidden="true" role="tabpanel" aria-labelledby="standings-button">

        {% include 'partials/DriversStandings.njk' %}

        {% include 'partials/ConstructorsStandings.njk' %}

      </section>

      {% if year == currentDate.year[0] %}
        <section class="schedule-data content-container content-tab" aria-hidden="true" role="tabpanel" aria-labelledby="schedule-button">

          {% for race in pitwall.currentSchedule.Races %}
            {% include 'partials/ScheduleTable.njk' %}
          {% endfor %}

        </section>
      {% endif %}


    {% elif year == currentDate.year %}

      <section class="content-container message-content">

        <h1 class="season-title">{{ year }} Formula 1 World Championship</h1>

        <h2>The {{ year }} season has not started yet. Come back after the first race.</h2>

        <p>In the meantime, here is the schedule of races for {{ year }}</p>

        {% include "partials/ScheduleList.njk" %}


      </section>

    {% endif %}
  </main>

  {% include "partials/PageFooter.njk" %}

</div>

<script src="/js/main.js" defer></script>

</body>
</html>