<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Pitwall</title>

  {% block head %}
  {% endblock %}

</head>
<body>
	
	<h1>Pitwall</h1>

{% block content %}
{{ content | safe }}
{% endblock content %}


</body>
</html>