.data-area {
	margin: auto;
	position: relative;
}

.content-container {
	margin: 0 1rem;

	@media (min-width: 768px){
		padding: 0 2rem;
		margin: auto;
	}

	@media (min-width: 1200px){
		max-width: 1400px;
	}
}


.season-title {
	font-size: 1.5rem;
	font-weight: normal;
	font-family: Monoton, Helvetica, Arial, sans-serif;
	color: white;
	background: var(--red);
	letter-spacing: 3px;
	margin: 0;
	padding: 1rem;

	@media (min-width: 768px){
		text-align: center;
		font-size: 2.5rem;
		padding: 2rem;
	}
}