.schedule-list {
	display: grid;
	grid-template-columns: 100%;
	list-style: none;
	padding: 0;
	margin: 0 0 3rem 0;

	@media (min-width: 768px){
		grid-template-columns: 1fr 1fr;
	}

	@media (min-width: 1200px){
		grid-template-columns: 1fr 1fr 1fr;
	}
}

	.race-nav-list {
		margin: 2rem 0 0 0;

		> li {
			padding: 0;
			margin: 0;
		}
	}

.schedule-item {
	padding: 1em;
	margin: 0;
	display: grid;
	align-items: start;
	grid-template-columns: 20% auto;
	grid-template-areas: 
		"round race"
		"round location"
		"round date";

	border: 1px solid var(--gray-light);
}


	.race-nav-item {
		display: grid;
		align-items: start;
		grid-template-columns: 20% auto;
		grid-template-areas: 
			"round race"
			"round date";

		border: 1px solid var(--gray-light);
		padding: 0.5rem;
		text-decoration: none;
		
		&:hover, &:focus {
			background: var(--gray-light);
		}
	}

.schedule-round {
	grid-area: round;

	span {
		display: block;
		color: black;
		font-size: 0.875rem;
		font-weight: normal;
	}

	color: var(--red);
	font-weight: bold;
	font-size: 2em;
	text-align: center;
}

.schedule-race {
	grid-area: race;

	font-weight: bold;
	font-size: 1.25em;
}

.schedule-location {
	grid-area: location;
	font-size: 0.875em;

}

.schedule-date {
	grid-area: date;
	font-size: 0.875em;
}




/// for schedule tab

.schedule-table {
	margin: 1rem 0;
	padding: 1rem;

	

	&:nth-child(even){
		background: var(--gray-light);
	}

	@media (min-width: 768px){
		display: grid;
		grid-template-areas: 
			"num name"
			"date circuit";

		grid-template-columns: 30% 1fr;
	}
}

.round-number {
	grid-area: num;

	font-family: var(--special-font);
	color: var(--red);
	font-size: 1rem;

	@media (min-width: 768px){
		font-size: 1.5rem;
	}
}

.round-date {
	grid-area: date;

	font-size: 1rem;
	font-weight: bold;

	@media (min-width: 768px){
		font-size: 1.25rem;
	}
}

.round-name {
	grid-area: name;

	font-family: var(--special-font);
	color: var(--slate);
	font-size: 1.25rem;

	@media (min-width: 768px){
		font-size: 1.75rem;
	}
}

.round-circuit {
	grid-area: circuit;
}