<nav class="type-select">
    <ul class="site-nav content-container">
      <li>
        <button id="race-results-button" class="site-nav-button">
          Race Results
        </button>
      </li>
      <li>
        <button id="standings-button" class="site-nav-button">
          Standings
        </button>
      </li>
    </ul>
  </nav>