<nav class="type-select">
  <ul class="site-nav content-container">
    <li>
      <button id="race-results-button" class="site-nav-button selected">Race Results</button>
    </li>
    <li>
      <button id="standings-button" class="site-nav-button">Standings</button>
    </li>

    {% if year == currentDate.year[0] %}
    <li>
      <button id="schedule-button" class="site-nav-button">Schedule</button>
    </li>
    {% endif %}
  </ul>
</nav>