<footer class="site-footer">
    <div class="content-container">
      <p>The Pitwall was developed by <a href="https://www.smithscott.net">Scott Smith</a> with data from the <a href="https://ergast.com/mrd/">Ergast API</a>.</p>
      <p>This site is not affiliated with the FIA or Liberty Media. I'm just a fan!</p>
    </div>
  </footer>